# folders
**/target/**
**/.settings/**
.settings/
/bin

# files
*.class
.project
.classpath
~*
*.bak

# Package Files #
*.jar
*.war
*.ear
rebel.xml
auto-web-auth-client-fx/src/main/java/org/autowebauth/client/fx/DemoTransistion.java
auto-web-auth-client-fx/src/main/java/org/autowebauth/client/fx/DemoTransistionWindow.java
